/* nav styling start */
/* nav styling start */
nav {
    margin: 0 3%;
    background-color: white;
}

.nav-item {
    color: gray
}


#colors{
    color: grey;
}
ul{
    display: flex;
}

.sign{
    text-decoration: none;
}
=======

/* nav styling end */
/* nav styling end */

#focus-text{
    flex-direction: column;
}

#h1{
    font-size: 250%;
}

#span{
    padding-left: 15px;
}


#btn{
    background-color: white;
    border: 1px solid blue;
    border-radius: 2px;
}

.space{
    padding-right: 15px;
}
#space{
    padding-right: 5px;
    height: 41px;
}

#small{
    font-size: 80%;
}
.dot {
    height: 17px;
    width: 1px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

.sign-in{
    text-decoration: none;
    padding-left: 5px;
    color: grey;
}

.pad{
    padding-top: 10px;
}

.pad-sides{
    padding: 0 10px;
}

.dummy{
    text-align: center;
    
}

#height{
    height: 400px;
}

.info{
    border: 1px solid grey;
    border-radius: 20px;
}


.useful-info{
    background-color: blue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    justify-items: center;
    color: white;
    font-size: 140%;
}

.useful-info-new{
    background-color: blue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    justify-items: center;
    color: white;
    font-size: 140%;
    margin-left: 160px;
}


/* The 2 big boxes */
#info{
    text-align: center;
    padding-right: 100px;
}

.lady-pic{
    padding: 80px 0;
}
.pic{
    padding: 0%;
}

#useful-info{
    padding-left: 50px;
    padding-right: 50px;
}

#useful-info-1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 70%;
}


#img-name{
    display: flex;
    position: relative;
    max-width: 100%;
    max-height: auto;
    padding: 0
}

.take-payment{
    padding-right: 500px;
}


/* The box with Get Paid Sooner */
.info1{
    border: 1px solid grey;
    border-top-right-radius: 20px;
}
/* second paragraph */
.p{
    text-align: center;
}




/* footer styling start */
/* footer styling start */
.footer {
    display: flex;
    background-color: blue;
    width: 100%;
    height: auto;
    color: white;
    padding: 3%;
    margin: 0
}

.green{
    background-color: rgb(159, 236, 42)
}

#try-double-tap{
    text-align: center
}

span{
    color: white;
    font-size: 100%;
    padding: 0 10px;
}

.white-circle{
    width: 8px;
    height: 8px;
}
/* footer styling end */
/* footer styling end */