/* nav styling start */
/* nav styling start */
nav {
    margin: 0 3%;
    background-color: white;
}

.radius{
    border-radius: 10px;
}

#colors{
    color: black;
}
ul{
    display: flex;
}


/* nav styling end */
/* nav styling end */

#focus-text{
    flex-direction: column;
}

#h1{
    font-size: 250%;
}

#span{
    padding-left: 15px;
}


#btn{
    background-color: white;
    border: 1px solid blue;
    border-radius: 2px;
}

#space{
    padding-right: 5px;
}

.sign-in{
    text-decoration: none;
    padding-left: 5px;
    color: grey;
}

.pad{
    padding-top: 10px;
}

.pad-sides{
    padding: 0 10px;
}

.dummy{
    text-align: center;
    
}

/* footer styling start */
/* footer styling start */
.footer {
    display: flex;
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 2%;
    color: white;
    /* justify-items: center */
}

/* .footer-contents{
    display: flex;
    flex-direction:column;
    flex-flow: column;
    align-items: center;
    position: relative;
} */

.footer-contents>h2{
    text-align: center;
    display: flex;
}

span{
    color: white;
    font-size: 100%;
}
/* footer styling */
/* footer styling */