/* full page styling */
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1240px;
}

a{
    text-decoration: none
}
/* full page styling */



/* nav styling start */
/* nav styling start */
nav {
    margin: 0 3%;
    background-color: white;
}

.nav-item {
    color: gray
}
/* nav styling end */
/* nav styling end */

.body-container{
    display: flex;
    flex-wrap:wrap
}

.sub-billing>span>a{
    display: flex;
    color: gray;
    text-decoration: none
}


#body-focus-text{
    flex-direction: column
}

.focus-icon-box{
    display: flex;
    margin: auto
}

#focus-icons{
    display: flex;
    height: 50%;
    width: auto;
    align-self: center;
}

.sub-billing{
    display: flex;
    color: gray;
    padding-top: 2%
}

.explore-container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 10px
}

.icon-button-container {
    display: flex;
}



.explore-icon-row{
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
}

.icons-with-radius{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    border: 1px solid gray;
    border-radius: 5px
}

.icons-with-radius>img{
    display: flex;
    height: 40%;
    width: 40px;
    margin: 5px 0
}

.payment-container{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid black
}

#payment-text{
    display: flex;
    flex-direction: column;
    background-color: blue;
    color: white;
    padding: 0 5% 0;
}

#payment-image{
    height:fit-content;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%
}

.left-half-div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    padding: 10% 0 10%;
    justify-content: center
}

.payment-list{
    display: flex;
    flex-direction: column;
    
}

.learn-more-button-container{
    display: flex
}

.learn-more-button-container>.learn-more-btn{
    display: flex;
    color: white;
    border: 2px solid white;
}

.learn-more-button-container>.learn-more-btn>span{
    display: flex;
    padding-left: 40%
}

.learn-more-btn>span{
    padding-left: 10%;
}

.four-icon-top-row, .four-icon-bottom-row{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-content: center;
}

.email-dashboards-col, .task-management-col, .analytics-col, .calendar-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2% 0 2%;
}

.email-icon-div, .task-management-div, .analytics-div, .calendar-div{
    display: flex;
    object-fit: contain;
}


.img-ring{
    display: flex;
    position: relative;
    max-height: 100%;
    max-width: 100%
}

.layered-image-top{
    display:flex;
    align-self: center;
    justify-self: center;
    position: absolute;
    height: 10%
}


/* footer styling start */
/* footer styling start */
.footer {
    display: flex;
    background-color: blue;
    width: 100%;
    height: auto;
    padding: 2%;
    color: white;
}

/* #footer-contents{
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    /* position: relative; */

#try-double-tap{
    text-align: center
}

/* .footer-buttons{
    align-items: center;
} */

.divider{
    color: white;
    font-size: 100%;
}
/* footer styling end */
/* footer styling end */